nbactions.xml
/docs/jug-management-doc.aux
/docs/jug-management-doc.idx
/docs/jug-management-doc.lof
/docs/jug-management-doc.log
/docs/jug-management-doc.lot
/docs/jug-management-doc.out
/docs/jug-management-doc.synctex.gz
/docs/jug-management-doc.toc
/docs/jug-management-doc-pt_br.aux
/docs/jug-management-doc-pt_br.idx
/docs/jug-management-doc-pt_br.lof
/docs/jug-management-doc-pt_br.log
/docs/jug-management-doc-pt_br.lot
/docs/jug-management-doc-pt_br.out
/docs/jug-management-doc-pt_br.synctex.gz
/docs/jug-management-doc-pt_br.toc
/yougi-ear/nbactions.xml
/yougi-ear/target/
/yougi-ejb/nbactions.xml
/yougi-ejb/target/
/yougi-web/nbactions.xml
/yougi-web/target/
/yougi-web/target/
/yougi-ejb/derby.log
/yougi-ejb/null/__timer_service_shutdown__.dat
/yougi-ejb/src/test/resources/glassfish/META-INF/MANIFEST.MF
/yougi-ejb/src/test/resources/glassfish/__cp_jdbc_ra.rar
/yougi-ejb/src/test/resources/glassfish/__dm_jdbc_ra.rar
/yougi-ejb/src/test/resources/glassfish/__ds_jdbc_ra.rar
/yougi-ejb/src/test/resources/glassfish/__xa_jdbc_ra.rar
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/__cp_jdbc_ra/META-INF/MANIFEST.MF
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/__cp_jdbc_ra/__cp_jdbc_ra.jar
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/__dm_jdbc_ra/META-INF/MANIFEST.MF
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/__dm_jdbc_ra/__dm_jdbc_ra.jar
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/__ds_jdbc_ra/META-INF/MANIFEST.MF
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/__ds_jdbc_ra/__ds_jdbc_ra.jar
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/__xa_jdbc_ra/META-INF/MANIFEST.MF
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/__xa_jdbc_ra/__xa_jdbc_ra.jar
/yougi-ejb/src/test/resources/glassfish/lib/install/applications/ejb-timer-service-app.war
